{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block content %}
    <h1>Nous contacter</h1>
    <p>N'hésitez pas à prendre contact avec notre équipe, nous vous répondrons dans les meilleiurs délais</p>


    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">{{message}}</div>
    {% endfor %}

    <div class="row">
        <div class="col-md-8">
            {{ form(form) }}
        </div>
        <div class="col-md-4">
            <strong>contact DJESM-ELECTRONIC</strong>
            <hr>
            tel: +33 7 61 23 34 67 <br>
            strasbourg France </br>
            email: contact@djsem-electronic.com

        </div>
    </div>

{% endblock %}
