{% extends 'base.html.twig' %}

{% block title %}Qui sommes nous{% endblock %}

{% block content %}
<h1>Qui sommes nous</h1>
<p>
    Nous sommes une entreprise spécialisé dans la vente et la livraison de produit électronique.

</p>
{% endblock %}